var colour = '#fa8100'
var opacity = 1
var filler = {
  color: colour,
  opacity: opacity
}

var logo = SVG('canvas')
logo.viewbox({
  x: 0,
  y: 0,
  width: 465,
  height: 200
})

var oh = logo.circle(200).move(0, 0).fill(filler)
var dee = logo.path('m 190 0 h 90 c 140 5, 140 195, 0 200, h -90').fill(filler)
var eye = logo.rect(90, 200).move(375, 0).fill(filler)
var text = logo.text(function(add) {
  add.tspan('labs').move(232, 130).fill('#ea7100')
})
text.font({
  family: 'Helvetica Neue',
  size: 100,
  anchor: 'middle'
})

var odi = logo.group()
odi.add(oh)
odi.add(dee)
odi.add(eye)
odi.add(text)
