---
---

@import 'bootstrap';
@import 'fonts';
@import 'colours';
@import 'footer';
@import 'nav';
@import 'modal';

body {
  font-family: $font-family-sans-serif;
  background-image: url(/assets/images/backgrounds/carbon_fibre.png);
  color: white;
}

a {
  color: white;
}

h1 {
  text-align: center;
  color: $brand-primary;
}

p {
  text-align: justify;
}

#canvas {
  padding: $padding-large-horizontal;
  margin: $padding-large-horizontal;
}

.btn-source {
  background-color: $brand-primary;
  margin-bottom: $padding-large-vertical;
}

$shadow-offset: 0px;
$shadow-size: 20px;
$shadow: drop-shadow($shadow-offset $shadow-offset $shadow-size $brand-primary);

.glowing {
	-webkit-filter: $shadow;
	filter: $shadow;
}
