---
---

@import 'bootstrap';
@import 'fonts';
@import 'colours';

body {
  font-family: $font-family-sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
  text-transform: none;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;
  background-color: $brand-primary;

  opacity: 1;
  color: white;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }
}

#canvas {
  padding: 30px;
}

$shadow-offset: 0px;
$shadow-size: 20px;
$shadow: drop-shadow($shadow-offset $shadow-offset $shadow-size $brand-primary);

$super-shadow-size: 23px;
$super-shadow: drop-shadow($shadow-offset $shadow-offset $super-shadow-size $brand-primary);

.glowing {
	-webkit-filter: $shadow;
	filter: $shadow;
}
