{% include paths/odi.html %}

var odi_grad = gradient('#fa8100', '#000000', 512)
var text_grad = gradient('#ffffff', '#fa8100', 512)

var colour = odi_grad[0]
var opacity = 1
var filler = {
  color: colour,
  opacity: opacity
}

var logo = SVG('canvas')
logo.viewbox({
  x: 0,
  y: 0,
  width: 467,
  height: 202
})

var badge = logo.path(odi_path.join(' ')).fill(colour)
var odi = logo.group()
odi.add(badge)

var text = logo.text('labs').move(232, 10).fill(text_grad[0])
text.font({
  family: 'Helvetica Neue',
  size: 100,
  anchor: 'middle'
})
var image = logo.image('https://dreamscope-prod-v1.s3.amazonaws.com/images/80796377-c28c-46ca-b3a6-237c1a7c4c60.jpeg')
image.size(650, 650).y(-150).x(-100)
image.clipWith(text)

// adding the text to the group destroys the clipping :/
odi.add(text)

window.onload = function start() {
  pulse()
}

function pulse() {
  var index = 0
  var interval = 25
  window.setInterval(function () {
    text.fill(text_grad[index])
    badge.fill(odi_grad[index])
    index += 1
    if(index == odi_grad.length) {
      index = 0
    }
  }, interval)
}
